In [5]:
import pandas as pd
import numpy as np

 Creat one dimensional labeled array using pd.Series()

In [3]:
series= pd.Series([10,20,30,40], index=['a','b','c','d'])
print(series)

a    10
b    20
c    30
d    40
dtype: int64

Create a DataFrame having 50 rows and 50 columns

In [6]:
data = np.random.rand(50,50)
columns = [f'col_{i+1}' for i in range(50)]
df = pd.DataFrame(data, columns=columns)

print(df.head())

      col_1     col_2     col_3     col_4     col_5     col_6     col_7  \
0  0.067210  0.114758  0.118960  0.796689  0.350221  0.896658  0.237866
1  0.747786  0.829865  0.683116  0.230743  0.782638  0.232097  0.899028
2  0.986821  0.358420  0.809554  0.536364  0.011404  0.199907  0.650140
3  0.519497  0.924149  0.532625  0.791110  0.647309  0.379158  0.278477
4  0.883702  0.058341  0.960679  0.627929  0.379983  0.666469  0.693333

      col_8     col_9    col_10  ...    col_41    col_42    col_43    col_44  \
0  0.621036  0.738124  0.678044  ...  0.677977  0.955350  0.601486  0.803331
1  0.534581  0.793297  0.408969  ...  0.736421  0.270004  0.390398  0.159699
2  0.058841  0.624351  0.274865  ...  0.650055  0.895731  0.499814  0.510830
3  0.966437  0.713406  0.093432  ...  0.765605  0.599213  0.795215  0.008643
4  0.945591  0.124560  0.735039  ...  0.157680  0.088502  0.774557  0.024602

     col_45    col_46    col_47    col_48    col_49    col_50
0  0.233074  0.988391  0.420976  0.293832  0.771721  0.380860
1  0.196334  0.537661  0.896424  0.069258  0.473153  0.475797
2  0.427839  0.330669  0.951283  0.319710  0.037448  0.251594
3  0.718013  0.107114  0.470853  0.139810  0.268312  0.067808
4  0.595655  0.924548  0.357672  0.129813  0.036665  0.874304

[5 rows x 50 columns]

create a coloumn and add automatic label

In [7]:
df = pd.DataFrame(np.random.rand(50, 50))
df[len(df.columns)] = np.random.rand(50)


print(df.iloc[:5, -5:])

         46        47        48        49        50
0  0.907331  0.534469  0.694643  0.650329  0.345890
1  0.116748  0.622422  0.522906  0.991629  0.952006
2  0.835856  0.869967  0.268801  0.581812  0.969064
3  0.210052  0.592607  0.829265  0.572952  0.356939
4  0.827900  0.167056  0.866893  0.983644  0.139499

Use and understand df.describe(), df.info().
 How to access the top 5 rows and last 5 rows of that DataFrame?
 Show usage of head and tail.


 How to check the shape of dataframe?

 Understand the importance of df.to_numpy(), Transposing the dataframe, sort_index(), sort_value()

In [8]:
summary = df.describe()
print(summary)

              0          1          2          3          4          5   \
count  50.000000  50.000000  50.000000  50.000000  50.000000  50.000000
mean    0.542813   0.522471   0.524437   0.461149   0.509754   0.538541
std     0.302859   0.294854   0.276257   0.296625   0.311414   0.282662
min     0.019547   0.011282   0.006970   0.013327   0.041431   0.006681
25%     0.297664   0.247315   0.295527   0.169476   0.224363   0.325671
50%     0.478610   0.534326   0.503454   0.471379   0.465274   0.543442
75%     0.815251   0.764756   0.768916   0.704444   0.827760   0.781262
max     0.999983   0.998774   0.991672   0.972290   0.989891   0.992224

              6          7          8          9   ...         41         42  \
count  50.000000  50.000000  50.000000  50.000000  ...  50.000000  50.000000
mean    0.507429   0.465797   0.532557   0.507018  ...   0.478050   0.433625
std     0.293994   0.291323   0.260989   0.293451  ...   0.275717   0.269157
min     0.033918   0.013343   0.032670   0.008885  ...   0.027951   0.014377
25%     0.219128   0.225459   0.304196   0.242307  ...   0.248122   0.206925
50%     0.526655   0.482587   0.596136   0.550328  ...   0.445545   0.412996
75%     0.781724   0.671871   0.729427   0.735814  ...   0.729707   0.624253
max     0.977374   0.950458   0.990670   0.968173  ...   0.998776   0.989146

              43         44         45         46         47         48  \
count  50.000000  50.000000  50.000000  50.000000  50.000000  50.000000
mean    0.516255   0.475316   0.469322   0.581319   0.446014   0.490370
std     0.313069   0.286191   0.275098   0.286257   0.281673   0.302314
min     0.009254   0.015599   0.009318   0.019448   0.015474   0.015800
25%     0.226352   0.251488   0.242146   0.342101   0.198132   0.261231
50%     0.539949   0.422075   0.468773   0.615687   0.415624   0.446447
75%     0.792045   0.725719   0.648779   0.840084   0.664145   0.796898
max     0.993396   0.965618   0.993711   0.998728   0.958001   0.991355

              49         50
count  50.000000  50.000000
mean    0.571708   0.505107
std     0.308199   0.315031
min     0.014522   0.035788
25%     0.380184   0.230701
50%     0.610524   0.417263
75%     0.851547   0.849907
max     0.999730   0.997785

[8 rows x 51 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 51 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       50 non-null     float64
 1   1       50 non-null     float64
 2   2       50 non-null     float64
 3   3       50 non-null     float64
 4   4       50 non-null     float64
 5   5       50 non-null     float64
 6   6       50 non-null     float64
 7   7       50 non-null     float64
 8   8       50 non-null     float64
 9   9       50 non-null     float64
 10  10      50 non-null     float64
 11  11      50 non-null     float64
 12  12      50 non-null     float64
 13  13      50 non-null     float64
 14  14      50 non-null     float64
 15  15      50 non-null     float64
 16  16      50 non-null     float64
 17  17      50 non-null     float64
 18  18      50 non-null     float64
 19  19      50 non-null     float64
 20  20      50 non-null     float64
 21  21      50 non-null     float64
 22  22      50 non-null     float64
 23  23      50 non-null     float64
 24  24      50 non-null     float64
 25  25      50 non-null     float64
 26  26      50 non-null     float64
 27  27      50 non-null     float64
 28  28      50 non-null     float64
 29  29      50 non-null     float64
 30  30      50 non-null     float64
 31  31      50 non-null     float64
 32  32      50 non-null     float64
 33  33      50 non-null     float64
 34  34      50 non-null     float64
 35  35      50 non-null     float64
 36  36      50 non-null     float64
 37  37      50 non-null     float64
 38  38      50 non-null     float64
 39  39      50 non-null     float64
 40  40      50 non-null     float64
 41  41      50 non-null     float64
 42  42      50 non-null     float64
 43  43      50 non-null     float64
 44  44      50 non-null     float64
 45  45      50 non-null     float64
 46  46      50 non-null     float64
 47  47      50 non-null     float64
 48  48      50 non-null     float64
 49  49      50 non-null     float64
 50  50      50 non-null     float64
dtypes: float64(51)
memory usage: 20.1 KB

In [14]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,0.753069,0.617283,0.447970,0.724455,0.760677,0.913510,0.832913,0.906908,0.298301,0.734670,...,0.457060,0.147013,0.009254,0.202527,0.470660,0.907331,0.534469,0.694643,0.650329,0.345890
1,0.705062,0.998774,0.812161,0.871528,0.464059,0.599044,0.486181,0.380838,0.627480,0.364476,...,0.289597,0.629128,0.368978,0.270515,0.792834,0.116748,0.622422,0.522906,0.991629,0.952006
2,0.427671,0.770891,0.932274,0.706702,0.891240,0.055249,0.837800,0.924749,0.309174,0.099275,...,0.120960,0.569598,0.047074,0.342677,0.815152,0.835856,0.869967,0.268801,0.581812,0.969064
3,0.297322,0.104123,0.471595,0.467355,0.137899,0.732676,0.896686,0.071442,0.209048,0.862940,...,0.363264,0.389916,0.736313,0.848367,0.450460,0.210052,0.592607,0.829265,0.572952,0.356939
4,0.457309,0.294550,0.697311,0.074429,0.771505,0.832357,0.501763,0.620665,0.302536,0.852498,...,0.212897,0.408628,0.951773,0.250952,0.092259,0.827900,0.167056,0.866893,0.983644,0.139499

In [13]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
45,0.445768,0.358965,0.447987,0.248354,0.394980,0.132146,0.260675,0.471088,0.032670,0.740964,...,0.255840,0.506544,0.693085,0.015599,0.100180,0.555243,0.383397,0.547595,0.607139,0.222678
46,0.279176,0.239117,0.846090,0.065158,0.259571,0.961012,0.096884,0.423103,0.705000,0.596062,...,0.734633,0.787014,0.704261,0.608851,0.238807,0.897535,0.275919,0.770030,0.469257,0.860503
47,0.047297,0.443425,0.264195,0.304103,0.831108,0.568171,0.848119,0.131645,0.736975,0.648489,...,0.245550,0.928843,0.789005,0.796181,0.465448,0.283159,0.202017,0.977647,0.388544,0.201378
48,0.035194,0.894281,0.090002,0.475404,0.975580,0.477305,0.302773,0.917398,0.601821,0.711990,...,0.714928,0.606774,0.925619,0.725718,0.541898,0.338971,0.378096,0.304551,0.904096,0.930414
49,0.494329,0.983938,0.237329,0.707192,0.272021,0.192534,0.137634,0.682255,0.183991,0.157202,...,0.485377,0.268655,0.848033,0.586841,0.326266,0.840715,0.681501,0.922757,0.989303,0.252428

In [15]:
# Check the shape
print(df.shape)

(50, 51)

In [16]:
df.to_numpy()

array([[0.75306871, 0.6172828 , 0.44796978, ..., 0.69464307, 0.65032853,
        0.3458898 ],
       [0.70506179, 0.99877418, 0.81216111, ..., 0.5229063 , 0.99162935,
        0.95200637],
       [0.42767115, 0.77089098, 0.93227355, ..., 0.2688012 , 0.58181233,
        0.96906388],
       ...,
       [0.04729678, 0.44342539, 0.26419451, ..., 0.97764697, 0.38854366,
        0.20137789],
       [0.03519397, 0.89428117, 0.09000215, ..., 0.30455074, 0.9040958 ,
        0.93041389],
       [0.49432905, 0.98393837, 0.23732943, ..., 0.92275739, 0.98930255,
        0.25242773]])

In [17]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

array = df.to_numpy()
print(array)

[[1 4]
 [2 5]
 [3 6]]

In [18]:
print(df.T)

   0  1  2
A  1  2  3
B  4  5  6

In [21]:
df = pd.DataFrame({
    'B': [3, 1, 2],
    'A': [6, 4, 5]
}, index=[2, 0, 1])

print("Before sorting:")
print(df)

print("\nAfter sorting by index:")
print(df.sort_index())

Before sorting:
   B  A
2  3  6
0  1  4
1  2  5

After sorting by index:
   B  A
0  1  4
1  2  5
2  3  6

In [22]:
print(df.sort_values(by='B'))

   B  A
0  1  4
1  2  5
2  3  6

**Show the usage of loc and iloc on df2 .
Create  a  new dataframe df2 with indexes.**

In [23]:
data = {
    'Name': ['Khilav', 'Devanshu', 'Nitya', 'Anshuman', 'Harsh'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['Nadiad', 'Ahmedabad', 'Baroda', 'Surat', 'Rajkot']
}

df2 = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e'])
print(df2)

       Name  Age       City
a    Khilav   24     Nadiad
b  Devanshu   27  Ahmedabad
c     Nitya   22     Baroda
d  Anshuman   32      Surat
e     Harsh   29     Rajkot

In [24]:
print(df2.loc[['a', 'e'], 'Age'])

a    24
e    29
Name: Age, dtype: int64

In [25]:
print(df2.iloc[:3, :2])

       Name  Age
a    Khilav   24
b  Devanshu   27
c     Nitya   22

How do you handle null or missing values in Dataframe?
dropna, fillna, isna

Show usage of df.duplicated(), df.drop_duplicates()

In [26]:
data = {'A': [1, 2, np.nan, 4], 'B': [np.nan, 2, 3, 4]}
df = pd.DataFrame(data)

print(df.isna())#true if it is NaN

       A      B
0  False   True
1  False  False
2   True  False
3  False  False

In [27]:
print(df.dropna())  # Drops rows where any NaN exists

     A    B
1  2.0  2.0
3  4.0  4.0

In [28]:
print(df.fillna(0))  # Replaces NaN with 0

     A    B
0  1.0  0.0
1  2.0  2.0
2  0.0  3.0
3  4.0  4.0

In [30]:
data = {'A': [1, 2, 2, 4], 'B': [5, 6, 6, 8]}
df_dup = pd.DataFrame(data)

print(df_dup.duplicated())

0    False
1    False
2     True
3    False
dtype: bool

In [32]:
print(df_dup.drop_duplicates())

   A  B
0  1  5
1  2  6
3  4  8

How to apply one-hot encoding in Pandas? show with example.?

In [33]:
data = {
    'Color': ['Red', 'Green', 'Blue', 'Green', 'Red']
}

df = pd.DataFrame(data)
print(df)

   Color
0    Red
1  Green
2   Blue
3  Green
4    Red

In [34]:
encoded_df = pd.get_dummies(df, columns=['Color'])
print(encoded_df)

   Color_Blue  Color_Green  Color_Red
0       False        False       True
1       False         True      False
2        True        False      False
3       False         True      False
4       False        False       True

make Selection of rows where df.A is greater than 0. (Boolean indexing)

In [35]:
df = pd.DataFrame({
    'A': [1, -2, 3, 0, -1, 5],
    'B': ['x', 'y', 'z', 'w', 'v', 'u']
})

# Select rows where column 'A' > 0
filtered_df = df[df['A'] > 0]

print(filtered_df)

   A  B
0  1  x
2  3  z
5  5  u

Show Importance of concat.

show importance of df.corr()

In [36]:
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [3, 4], 'Name': ['Charlie', 'David']})

# Concatenate vertically (row-wise)
result = pd.concat([df1, df2])
print(result)

   ID     Name
0   1    Alice
1   2      Bob
0   3  Charlie
1   4    David

In [37]:
df = pd.DataFrame({
    'Math': [80, 90, 85, 70],
    'Science': [78, 95, 82, 65],
    'English': [60, 65, 70, 72]
})

correlation_matrix = df.corr()
print(correlation_matrix)

             Math   Science   English
Math     1.000000  0.979388 -0.390184
Science  0.979388  1.000000 -0.426434
English -0.390184 -0.426434  1.000000